/* COLORS */

$color-primary_grey: gray;
$color-black: black;

/* TYPOGRAPHY */

.lighter-txt {
    font-family: Helvetica, sans-serif, Arial;
    font-size: 17px;
    color: $color-primary_grey;
    font-weight: 200;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    //align-items: center;
    background: linear-gradient(rgb(47, 150, 163), rgb(48, 62, 143));
    font-family: sans-serif;
}

header {
    margin-top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    #search-txt {
        padding-left: 4px;
        height: 50px;
        width: 300px;
    }
    .fa-search {
        height: 40px !important;
        width: 40px !important;
        margin-bottom: -10px !important;
        color: $color-black !important;
    }
}

#container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    padding: 40px 0;
    h1 {
        text-align: center;
        padding: 1.5rem 2.5rem;
        //background-image: linear-gradient(rgb(47, 150, 163), rgb(48, 62, 143));
        margin: 0 0 2rem 0;
        font-size: 1.5rem;
        color: black;
    }
    .city-name {
        width: 18%;
        margin: 1%;
        padding: 30px;
        position: relative;
        transition: .3s all;
        box-shadow: 0 2px 5px 0 rgba(3, 6, 26, 0.15);
        background: #1e4c74;
        color: white;
        &:hover {
            transform: scale(1.05);
        }
        @media screen and (max-width: 1480px) {
            width: 23%;
        }
        @media screen and (max-width: 1420px) {
            width: 31.3333333333%;
        }
        @media screen and (max-width: 1240px) {
            width: 48%;
        }
        @media screen and (max-width: 820px) {
            width: 98%;
            margin-top: 2%;
            margin-bottom: 2%;
        }
        h1 {
            text-transform: uppercase;
            margin-bottom: 10px;
        }
    }
}

.show-more {
    align-items: center !important;
    position: absolute;
    left: 30px;
    bottom: 30px;
    font-size: 14px;
    color: white;
    background: rgba(0, 0, 0, .2);
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px 20px;
    transition: .3s all;
    &:hover {
        background: rgb(47, 150, 163);
        color: #2e2e2e;
    }
}

.agregar-favoritos {
    align-items: center !important;
    position: initial;
    left: 30px;
    bottom: 30px;
    font-size: 14px;
    color: white;
    background: rgba(0, 0, 0, .2);
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px 20px;
    transition: .3s all;
    &:hover {
        background: rgb(47, 150, 163);
        color: #2e2e2e;
    }
}