/* COLORS */
/* TYPOGRAPHY */
.lighter-txt {
  font-family: Helvetica, sans-serif, Arial;
  font-size: 17px;
  color: gray;
  font-weight: 200;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: linear-gradient(#2f96a3, #303e8f);
  font-family: sans-serif;
}

header {
  margin-top: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000ba;
}
header #search-txt {
  padding-left: 4px;
  height: 40px;
  width: 330px;
  margin-top: 5%;
  margin-bottom: 5%;
}
header .fa-search {
  height: 33px !important;
  width: 40px !important;
  margin-bottom: -10px !important;
  color: white !important;
}

.button-position {
  display: flex;
  justify-content: center;
  align-self: flex-end;
  background: #303f8f;
}
.button-position #favorites-button {
  background-color: #000000ba;
  border: 1px solid #000000ba;
  height: 40px;
  width: 200px;
  color: white;
  margin-right: 5px;
  transition: 0.3s all;
  border-radius: 3px;
  margin-bottom: 15px;
  cursor: pointer;
}
.button-position #favorites-button:hover {
  transform: scale(1.05);
  background-color: black;
}
.button-position #clear-button {
  background-color: #000000ba;
  border: 1px solid #000000ba;
  height: 40px;
  width: 200px;
  color: white;
  margin-left: 5px;
  transition: 0.3s all;
  border-radius: 3px;
  cursor: pointer;
}
.button-position #clear-button:hover {
  transform: scale(1.05);
  background-color: black;
}

#container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  padding: 40px 0;
}
#container h1 {
  text-align: center;
  padding: 1.5rem 2.5rem;
  margin: 0 0 2rem 0;
  font-size: 1.5rem;
  color: black;
}
#container .city-name {
  width: 18%;
  margin: 1%;
  padding: 30px;
  position: relative;
  transition: 0.3s all;
  box-shadow: 0 2px 5px 0 rgba(3, 6, 26, 0.15);
  background: #1e4c74;
  color: white;
}
#container .city-name:hover {
  transform: scale(1.05);
}
@media screen and (max-width: 1480px) {
  #container .city-name {
    width: 23%;
  }
}
@media screen and (max-width: 1420px) {
  #container .city-name {
    width: 31.3333333333%;
  }
}
@media screen and (max-width: 1240px) {
  #container .city-name {
    width: 48%;
  }
}
@media screen and (max-width: 820px) {
  #container .city-name {
    width: 98%;
    margin-top: 2%;
    margin-bottom: 2%;
  }
}
#container .city-name h1 {
  text-transform: uppercase;
  margin-bottom: 10px;
}

.show-more {
  align-items: center !important;
  position: absolute;
  left: 30px;
  bottom: 30px;
  font-size: 14px;
  color: white;
  background: black;
  border: 1px solid black;
  text-decoration: none;
  text-transform: uppercase;
  padding: 10px 20px;
  transition: 0.3s all;
  cursor: pointer;
}
.show-more:hover {
  background: #2f96a3;
  color: black;
  border: 1px solid #2f96a3;
}

.agregar-favoritos {
  align-items: center !important;
  position: initial;
  left: 30px;
  bottom: 30px;
  font-size: 14px;
  color: white;
  background: black;
  border: 1px solid black;
  text-decoration: none;
  text-transform: uppercase;
  padding: 10px 20px;
  transition: 0.3s all;
  cursor: pointer;
}
.agregar-favoritos:hover {
  background: #2f96a3;
  color: black;
  border: 1px solid #2f96a3;
}

/*# sourceMappingURL=style.css.map */
